*.log
.DS_Store
/.ash_history
/.cache
/.composer
/.fleet
/.idea
/.npm
/.nova
/.phpunit.cache
/.vscode
/.zed
/bootstrap/cache/*
/bootstrap/ssr
/database/*.sqlite
/database/*.sqlite-journal
/env
/auth.json
fix-playwright-timeout.php
Homestead.json
Homestead.yaml
/node_modules
npm-debug.log
/phpactor.json
/phpunit.result.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
/tests/Browser/Screenshots
Thumbs.db
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
yarn-error.log
